---
import MainLayout from "../layouts/MainLayout.astro";
import { siteConfig } from "../config/site";
---

<MainLayout title={`搜索 - ${siteConfig.title}`} description="站内全文搜索">
  <h1>搜索文章</h1>
  <div id="search" class="card"></div>
  <script is:inline>
    import("/pagefind/pagefind-ui.js")
      .then(() => new window.PagefindUI({ element: "#search", showSubResults: true }))
      .catch(() => {
        const el = document.querySelector("#search");
        if (el) {
          el.innerHTML = "<p>搜索索引尚未生成，请先执行 npm run build。</p>";
        }
      });
  </script>
</MainLayout>
